extends layout

block content
  h1= "Welcome!"
  h3= "Please select a user to log in as!"

  form(action="../user/1", method="get")
    input(type="submit", class="button1", value="Bob")
  form(action="../user/2", method="get")
    input(type="submit", class="button1", value="Jill")
  form(action="../user/3", method="get")
    input(type="submit", class="button1", value="Todd")
  form(action="../user/4", method="get")
    input(type="submit", class="button1", value="Lily")

  br
  h4= "For testing convenience:"
  h6= "Sender:"
    input(type = "number", id="sender", name="sender")
    span= " Recipient:"
      input(type = "number", id="recipient", name="recipient")
      label(for="itemVal") 
        select(name="itemVal", id="itemVal")
          option(value="1") Sword
          option(value="2") Shield
      input(type="button", class="button1", value="Send Gift", onclick="sendGift(sender.value, recipient.value, itemVal.value)")
  
